<div fxLayout="row wrap" class="login-wrapper">
  <div fxFlex.lt-md="0%" fxFlex.gt-md="60%" class="login-banner"></div>

  <div fxFlex="100%" fxFlex.gt-md="40%">
    <div fxLayout="column">
      <mat-card class="mat-elevation-z0 login-container">
        <div class="app-title">
          <span routerLink="/">nodebucket</span>
        </div>
        <mat-card-subtitle class="login-subtitle mat-headline">
          You must enter a valid numerical employeeId to proceed.
        </mat-card-subtitle>
        <mat-card-content>
          <!-- Login Form -->
          <form
            action=""
            [formGroup]="loginForm"
            (ngSubmit)="login(); loginForm.reset()"
          >
            <mat-card-content>
              <mat-form-field class="form-full-width">
                <!-- EmployeeID input field -->
                <input
                  type="text"
                  matInput
                  [formControl]="loginForm.controls['empId']"
                  placeholder="Employee ID"
                  fullWidth
                />
                <mat-error
                  *ngIf="
                    loginForm.controls['empId'].hasError('required') &&
                    loginForm.controls['empId'].touched
                  "
                >
                  Employee ID is a required field</mat-error
                >
                <mat-error
                  *ngIf="
                    loginForm.controls['empId'].hasError('pattern') &&
                    loginForm.controls['empId'].touched
                  "
                  >Employee ID must be a numerical value</mat-error
                >
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
              <button
                type="submit"
                flFlex
                mat-raised-button
                [disabled]="!loginForm.valid"
                color="primary"
              >
                Sign In
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
