<!-- logo -->
<div class="app-title">
  <span routerLink="/">nodebucket</span>
</div>

<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <button routerLink="/" mat-button>HOME</button>
        <button routerLink="/about" mat-button>ABOUT US</button>

        <div class="employee-id">
          <button mat-button (click)="logOut()">SIGN OUT</button>
        </div>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Footer -->
  <div fxLayout="row wrap" class="footer">
    <div fxFlex="100%" fxFlex.gt-sm="55%">
      <div class="footer-tile">
        <div class="about-title">NODEBUCKET</div>
        <div class="about-content">
          nodebucket is built for every member of your software team to plan,
          track, and release great software.Create user stories and issues, plan
          sprints, and distribute tasks across your software team. Prioritize
          and discuss your team’s work in full context with complete visibility.
          Improve team performance based on visual data that your team can put
          to use.
        </div>
      </div>
    </div>
    <div fxFlex="100%" fxFlex.gt-sm="20%"></div>
    <div fxFlex="100%" fxFlex.gt-sm="25%">
      <div class="footer-tile">
        <div class="about-title padding-left-2">CONTACT US</div>
        <div class="about-content">
          <div class="content-wrapper">
            <mat-icon color="secondary">chevron_right</mat-icon>
            <div>support@nodebucket.com</div>
          </div>
          <div class="content-wrapper">
            <mat-icon color="secondary">chevron_right</mat-icon>
            <div>(402) 293-2000</div>
          </div>
          <br /><br />
          <div class="content-wrapper">
            <div>
              <div>1000 Galvin Rd S</div>
              <div>Bellevue, NE 68005</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div> -->
